body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background-color: hsl(202, 86%, 94%);
}
.Mortgage {
  justify-content: center;
  align-items: center;
  display: flex;
}
.calculator {
  background-color: hsl(0, 0%, 100%);
  width: 400px;
  height: 400px;
  padding: 15px;
  border-radius: 10px;
}

.amount {
  display: flex;
  border: 1px solid black;
}
.pound {
  background-color: hsl(202, 86%, 94%);
  padding: 7px;
}

.morgageinput {
  outline: none;
}
